body,
html {
  height: 100%;
  background-image: linear-gradient(135deg, #010c3f 0%, #000000 100%);
  background-attachment: fixed;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
}

.App {
  height: 100%;
  padding: 0 10% 10% 10%;
}

h1 {
  padding: .77rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  color: #fff;
}

.highlight {
  color: #6c41ec;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

/* ปรับให้แสดงผลแนวตั้งบนมือถือ */
@media (max-width: 900px) {
  .App-playlist {
    flex-direction: column;
    align-items: center;
  }
}